img {
  border-style: unset;
}
body {
  background: rgb(241, 241, 241);
  margin-right: 120px;
  margin-left: 120px;
  margin-bottom: 120px;
}
hr {
  color: #e00808;
  height: 3%;
  width: 30%;
  margin: auto;
  justify-content: left;
}
nav {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #e00808;
}
p {
  display: flex;
  justify-content: space-evenly;
  font-family: Georgia, "Times New Roman", Times, serif;
}
li {
  list-style: none;
}

.menu {
  align-content: center;
  display: flex;
}
.menu li {
  margin-left: 30px;
}
.menu li a {
  display: block;
  padding: 7px;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #e00808;
}

.menu a:hover {
  background-color: #e0a2a29c;
}
.voltar {
  list-style: none;
}
.destaque {
  display: flex;
  align-items: flex-start;
  margin: 3px;
}
.destaque_imagem {
  padding: 12px;
}
.destaque_texto {
  margin-top: -34px;
  padding: 12px;
  text-align: left;
  font-size: 17px;
}
.destaque_texto h3 {
  font-size: 30px;
}
.destaque_sub_conteudo {
  display: flex;
  align-items: flex-start;
  margin: 3px;
}
.destaque_sub_conteudo_imagem_1 {
  padding: 12px;
}
.destaque_sub_conteudo_texto {
  margin-top: -30px;
  padding: 7px;
  font-size: 21px;
  text-align: left;
}
.destaque_sub_conteudo_texto h3 {
  font-size: 30px;
}
.destaque_sub_conteudo_imagem_2 {
  margin-top: 21px;
  display: table-cell;
  padding: 7px;
}

.conteudo {
  display: table;
  flex-flow: row wrap;
  padding: 7px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#title {
  color: #e00808;
  display: flex;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  font-size: 52px;
}

#sub-title {
  color: #e00808;
  display: flex;
  font-size: 21px;
}

#pagrefer {
  color: #e00808;
  display: flex;
  justify-content: space-evenly;
}
#bar_title {
  color: #e00808;
  height: 3%;
  width: 93%;
  margin: auto;
  justify-content: center;
}

#rodape {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: left;
}
#sec_dir {
  display: flex;
  align-items: flex-start;
  padding: 3px;
}
#sec_dir h3 {
  font-size: 25px;
}

#sec_esq {
  display: table;
  align-items: flex-start;
  padding: 3px;
}
#sec_esq h3 {
  font-size: 25px;
}

#noticia_1 {
  display: table-cell;
  margin-left: 12px;
  padding: 3px;
  text-align: left;
}
#noticia_2 {
  display: table-cell;
  margin-left: 12px;
  padding: 3px;
  text-align: left;
}
#noticia_3 {
  display: table-cell;
  margin-left: 12px;
  padding: 3px;
  text-align: left;
}
#noticia_4 {
  display: table-cell;
  margin-left: 12px;
  padding: 3px;
  text-align: left;
}
#noticia_5 {
  display: table-cell;
  margin-left: 12px;
  padding: 3px;
  text-align: left;
}
#noticia_6 {
  display: table-cell;
  margin-left: 12px;
  padding: 3px;
  text-align: left;
}
#search-box {
  position: relative;
  width: 30%;
  margin: 0;
}
